@media screen and (max-width:768px) {

    /*~~~~HEADER~~~~*/
    header{
        background-image: url(../imagens/capa.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        padding: 40px 2%;
        height: auto;

        min-height: 90vh;
    }

    nav.desktop-menu {
        display: none;
    }

    nav.mobile-menu {
        display: block;
    }

    .chamada1 {
        float: none;
        margin: 100px 0;
        max-width: none;
        width: 100%;
        text-align: center;
    }
    
    .chamada1 h2{
        font-size: 30px;
        color: white;
        padding: 0 10px;
        font-weight: 300;
    }
    
    .chamada1 p{
        font: 13px;
        color:white;
        font-weight: 300;
        margin-top:10px;
    }
    /*~~~~HEADER~~~~*/
    /*~~~~CHAMADA~~~~*/
    section.sessao1{
        padding: 40px 2%;
        height: auto;
        text-align: center;
    }

    .container{
        display: inline-block;
        text-align: center;
    }

    .texto-sessao1{
        width: 100%;
        display: inline-block;
        margin-top: 0;
        float: none;
        position: static;
        padding: 10px;
    }

    .texto-sessao1 ul{
        display: inline-block;
        margin-top: 20px;
    }

    .texto-sessao1 ul li{
        float: none;
        text-align: left;
    }

    .btn1-texto{
        float: none;
        margin: 25px auto;
    
    }

    .device-sessao1{
        display: none;
    }
    /*~~~~CHAMADA~~~~*/
    /*~~~~MAIS INFORMAÇÕES~~~~*/
    
}

@media screen and (min-width:768px) {
    nav.mobile-menu {
        display: none;
    }

    nav.desktop-menu {
        display: block;
    }

}
